@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font variant */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.user-mention {
  @apply text-pink-400 font-medium;
}

.highlighted {
  @apply border-2 border-pink-400;
}

.merged-content {
  display: block;
  margin-top: 15px;
  padding-top: 15px;
  @apply border-t-2 border-pink-100;
}

.merged-author {
  font-size: 12px;
}

.merged-author > span {
  @apply text-pink-400;
}

.super-highlighted {
  @apply outline outline-4 outline-pink-300
}

.super-highlighted > .icons-container {
}